<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Picaroon</title>
    <link rel="stylesheet" href="~/app/vendor.css" asp-append-version="true" />
    @*<environment names="Staging,Production">
        <link rel="stylesheet" href="~/dist/site.css" asp-append-version="true" />
    </environment>*@
</head>
<body>
    <app-root params="history: history"></app-root>
    <script src="~/app/picaroon.js" asp-append-version="true"></script>
</body>
</html>
